@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/press2play/PressStart2P-Regular.ttf') 
  format('truetype');
}

html, body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body{
 display: flex;
 flex-direction: column;
 place-items: center;
 place-content: center;
 background: rgb(50, 50, 60);
}

#vezJogador{
   position: absolute;
   top: 15px;
   color: rgb(20, 20, 20);
   font-size: 20pt;
   font-family: 'Press Start 2P', cursive;
}

#placar{
   position: absolute;
   bottom: 20px;
   color: rgb(20, 20, 20);
   line-height: 30px;
   font-size: 20pt;
   font-family: 'Press Start 2P', cursive;
}

.container{
  background: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .8);
}

.bloco{
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  font-size: 70pt;
  font-family: 'Macondo', Arial;
  margin: 0;
}

.bloco{
  width: 120px;
  height: 120px;
  background: rgb(200, 200, 210);
}

.status{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background: rgba(0, 0, 0, .4);
}

.status{
   opacity: 0%;
   visibility: hidden;
   font-size: 70px;
   word-spacing: -20px;
   font-family: 'Press Start 2P', cursive;
   color: red;
   transition: all .5s;
}

.continuar{
  margin-top: 5px;
  font-size: 25px;
  word-spacing: 0px;
  align-self: center;
  animation: piscar 2s infinite;
}

@keyframes piscar{
  0%{
   opacity: 100%;
  }
  50%{
   opacity: 0%
   }
  100%{
   opacity: 100%;
   }
}

#reiniciar{
  position: relative;
  border: none;
  background: none;
  color: lightgray;
  font-size: 20pt;
  width: 70%;
  border-bottom: 2px solid lightgray;
  padding: 0;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

@media screen and (max-width: 600px){
    .bloco{
	width: 100px;
	height: 100px;
	font-size: 50pt;
	margin: 0;
	}
	
   .status{
       font-size: 35px;
	  }
	
    .continuar{
    	font-size: 10px;
  	}
	
  	#placar{
	    font-size: 15pt;
	    line-height: 30px;
	  }
	
	#vezJogador{
	  font-size: 15pt;
	}
}

